* {
  	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.home{
  background-image: url('../img/bg-02.jpeg');
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-position: center;
  background-size: cover;
}
.contact{
  background-image: url('../img/bg-02.png');
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-position: center;
  background-size: cover;
}
 .home-main{
	width: 900px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	border-radius: 14px 0;
}
.register {
  background-image: url('../img/bg-01.jpg');
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-position: center;
  background-size: cover;
}
.login {
	width: 400px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	border-radius: 14px 0;
}
.login h1, .home-main h1{
  	text-align: center;
  	color: #000000;
  	font-size: 36px;
  	padding: 20px;
}
.home-main p{
	color: #000000;
  	padding: 20px;
}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: rgba(0, 0, 0, 0.5);
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"]
, .login form input[type="email"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: rgba(0, 0, 0, 0.5);
  	border: 0;
	border-radius: 0 0 14px 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover{
	background-color: rgba(0, 0, 0, 0.9);
  	transition: background-color 0.2s;
}
.navbar-default {
    background-color: rgba(231,231,231, 0.5);
    border-color: rgba(211,211,211, 0.8);
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
    color: #000;
}
.column{
  float: left;
  width: 50%;
  height: 95vh;
}
/* Brightness-zoom Container */
.product img {
  transition: transform 1s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}

/* The Transformation */
.product-men:hover img {
  filter: brightness(50%);
}
.product-women:hover img {
  filter: brightness(50%);
}

.product:after {
  content: "";
  display: table;
  clear: both;
}

.product-men, .product-women{
	position: relative;
}
.text-box-men a, .text-box-women a{
	color: #fff;
	text-decoration: none;
	font-size: 48px;
}

.text-box-men a:hover, .text-box-women a:hover{
	color: #fff;
	text-decoration: none;
	font-size: 60px;
}

.text-box-men{
	position: absolute;
	left: 20%;
	top: 250px;
}
.text-box-women{
	position: absolute;
	right: 20%;
	top: 250px;
}

.prod-col{
  padding: 25px;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

<---modal---->
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ff0000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}